.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;

  @media (min-width:488px) {
    grid-template-columns: repeat(2 , $cardWidth);
  }

  @media (min-width:768px) {
    grid-template-columns: repeat(3 , $cardWidth);
  }

  @media (min-width:1024px) {
    grid-template-columns: repeat(4 , $cardWidth);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $cardWidth;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    /* stylelint-disable */
    transition:
      transform $transition-duration,
      color $transition-duration;

    &:hover {
      transform: scale(1.2);
      color: $card-hover-text-color;
    }
  }
}
